@import 'bootstrap/dist/css/bootstrap';
@import "font-awesome";

.search-area{
  padding-top: 30px;
}


.no-right-padding{
  padding-top: 0 !important;
}

.no-left-padding{
  padding-left: 0 !important;
}

.result-block {
  display: inline;
}

.top-padding-10{
  padding-top: 10 px;
}

.margin-buttom {
  margin-bottom: 20px;
}
.bottom-padding-20{
  padding-bottom: 20px !important;
}

.margin-buttom-none{
  margin-bottom: 0 !important;
}
.logout-button{
 margin-right: 10px;
}

.margin-left-zero{
  margin-left: 0 !important;
}
